h1,
h3 {
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 20px;
  padding: 5px;
  margin: 0.5em;
}

h3 {
  font-size: 1.5em;
}

#preview {
  margin: 2rem;
  position: relative;
  max-width: 40rem;
  display: flex;
}

#preview-app {
  display: flex;
}

#preview-container {
  margin: auto;
  margin-top: 1rem;
}

a {
  text-decoration: none;
}

#message {
  padding-top: 0.5rem;
  max-width: 70%;
  margin: auto;
  margin-top: 1rem;
}

#ad-price {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.26);
}

#name {
  margin: auto;
  vertical-align: middle;
  max-width: 50%;
  margin-top: 0.5rem;
}

#contact {
  margin: 0.5rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.26);
  position: absolute;
  bottom: 0;
  left: 0;
}
