h1,
h3 {
  font-size: 3rem;
  background-color: rgba(235, 229, 229, 0.404);
  border-radius: 20px;
  padding: 5px;
  margin: 0.5em;
  
}

h3 {
  font-size: 1.5em;
}

#preview {
  margin: 1rem;
  position: relative;
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#preview-app {
    display: flex;
  flex-direction: column;
  justify-content: center;
}

#preview-container {
    margin: auto;
    margin-top: 1rem;
}

a {
    text-decoration: none;
 } 

#message {
  
  padding-top: 0.5rem;
  margin: 0.7rem;
  max-width: 70%;
  margin:auto;
  margin-top: 1rem;
    
    vertical-align:middle;
}
#ad-price {
  /* float: right; */
  position: absolute;
  bottom: 0;
  right: 0;
  /* font-size: 2rem; */
  background-color: rgba(235, 229, 229, 0.404);
  align-content: flex-end;
  border-radius: 20px;
  
}

#name{
    margin:auto;
    line-height:51px;
    vertical-align:middle;
    max-width: 50%;
    margin-top: .5rem;
}

#contact {
  /* float: left; */
  margin: 0.5rem 0.5rem;
  background-color: rgba(235, 229, 229, 0.404);
  border-radius: 20px;
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#save {
    margin-bottom: 2em;
    
}
