#header {
  overflow: hidden;
  background-color: #221a1a;
  padding: 20px 10px;
  height: 100vh;
  background-position: center;
}

#logo {
  float: left;
  width: 18rem;
  margin: 1rem;
  border: 2px solid rgb(66, 58, 58);
}

#header-message {
  float: right;
  max-width: 40rem;
}
