#color {
   width: none; 
}

#form {
    margin-top: 2rem;
    text-align: center;
    display: block;
    
}

.img {
    max-width: 20rem;
    border-radius: 1rem;
}

button {
    width: 10rem;
    text-align: center;
    align-self: center;
}


.input{
    margin: 1rem;
    width: 100%;
    
}

label {
    margin: .2rem;
}

.MuiInputBase-input {
    /* background-color: white !important; */
    width: 100%;
    margin: none; 
    text-align: center;
    color: blue; 
    
}

.MuiInputBase-root {
    border-radius: .5em;
 /* width: 20rem; */
    background-color: white !important;
    border: none;
    margin: .4rem;
    font-size: 1.2rem !important;
}



:placeholder-shown{
    text-align: center;
    
}

#save {
    /* margin-bottom: 2em; */
    
}
