body {
  text-align: center;
  display: block;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;

}


.main-containers {
 
  color: white;
  margin-left: 4rem;
  margin-right: 4rem;
}

